* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*background-image: repeating-linear-gradient(*/
    /*        0deg,*/
    /*        #494949,*/
    /*        #494949 10vh,*/
    /*        #cbcbcb 10vh,*/
    /*        #cbcbcb 20vh !* determines size *!*/
    /*);*/
}

#canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
}


.scrollDistance {
    height: 200vh;
    width: 20px;
    /*background: linear-gradient(45deg, blue, red);*/
}

#full_screen {
    width: 100%;
    height: 200vh;
    /*background-color: pink;*/
}
